body{
    background-color: lightskyblue;
    font-size: 40px;
}
article{
   margin: 100px 100px;
}
.standout{
    font-family: 'Franklin Gothic Medium';
    
    padding: 20px 20px;
}
#myHeader {
    text-align: center;
}
h1{ 
    color: navy;
    font-size: 60px;
}