body{
    background-color: lightskyblue;
    font-size: 40px;
}
article{
   margin: 10px 50px;
}
ul.standout{
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 20px;
}
h1{ 
    color: navy;
    font-size: 60px;
}